@import '@/styles/_colors.scss';
.portfolioContent {
  width: 100%;
}
.portfolioCardSlider {
  margin-left: 6vw;
  display: flex;
  flex-direction: row;
  gap: 1em;

  // overflow-x: hidden;
  overflow-y: hidden;

  scroll-behavior: smooth;
  position: relative;
}
// .portfolioCardSlider::-webkit-scrollbar {
//   display: none;

//   -ms-overflow-style: none;
//   scrollbar-width: none;
// }
.portfolioCard {
  width: 418px;
}

.portfolioCardCoverImageElement {
  position: relative;
  height: 311px;
}

.portfolioCardCoverImage {
  border-radius: 10px;
}

.portfolioCardPlayerImage {
  position: absolute;
  top: 30.5%;
  left: 50%;
}
@media (max-width: 512px) {
  .portfolioCardPlayerImage {
    position: absolute;
    top: 30.5%;
    left: 37.5%;
  }
}
.portfolioCardHeading {
  margin-top: 23px;
  width: 261px;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0.05em;
  color: $font-color-one;
}

.portfolioSocialMediaRedirectElement a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  pointer-events: none;
}

.portfolioSocialMediaRedirectElement a p {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0.05em;
  color: $font-color-four;
  pointer-events: auto;
}

.portfolioSocialMediaRedirectElement a img {
  width: 73.5px;
  height: auto;
  pointer-events: auto;
}
