@import '@/styles/_colors.scss';

.buttonElement {
  border-radius: 10px;
  border: none;
  background-color: $secondary-color;
  padding: 11px 73px 11px 73px;
  height: 46px;
  cursor: pointer;
}

.buttonHeaderNarSidebarSection {
  padding: 11px 0 11px 0;
  min-width: 162px;
}

.buttonHomeFirstSection {
  min-width: 245px;
}

.buttonExplainerVideosSection {
  min-width: 292px;
}

.buttonFooterSection {
  min-width: 301px;
}

.buttonElement p {
  color: $font-color-one;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
}
