$primary-color: #000000;
$secondary-color: #0cdcc6;

$font-color-one: #ffffff;
$font-color-two: #0cdcc6;
$font-color-three: #8a8a8a;
$font-color-four: #d0d0d0;
$font-color-five: #ced0d0;
$font-color-six: #2c2c2c;
$font-color-seven: #c4c4c4;
$font-color-eight: #000000;
$font-color-nine: #6a6a6a;

$hover-color-one: #0dc0ae;
