@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.headerContent {
  height: 72px;
  background-color: $primary-color;
  display: flex;
  position: fixed;
  width: 100%;

  @include tabletAndBeyondView() {
    height: 90px;
  }

  @include desktopAndBeyondView() {
    height: 90px;
    padding: 0 15%;

    top: 0;
    z-index: 100;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.logoContainer {
  height: 100%;
  width: 15%;
}

.logoContainer img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  z-index: 2;

  @include desktopAndBeyondView() {
    left: unset;
  }
}

.navBar {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.linksContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1;
  background-color: $primary-color;
  transition: 0.5s ease-out;
  text-wrap: nowrap;

  @include desktopAndBeyondView() {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: unset;
    top: unset;
    right: unset;
    position: relative;
  }
}

.navBar a {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 20px 36px;
  text-decoration: none;
  color: $font-color-one;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 20px;
  line-height: 25.8px;
  letter-spacing: 0.1em;

  @include desktopAndBeyondView() {
    width: auto;
    height: 100%;
    padding: 0 10px;
    color: $font-color-three;
    font-weight: 500;
    line-height: 24px;
  }
}

.navBar a:hover,
.home p {
  color: $font-color-two;
  font-weight: 700;
  line-height: 24px;
}

#headerSidebarActive {
  display: none;
}

.openSidebarButton,
.closeSidebarButton {
  padding: 10px;
  display: block;

  @include desktopAndBeyondView() {
    padding: 0;
    display: none;
  }
}

.closeSidebarButton {
  margin-left: auto;
}

#headerSidebarActive:checked ~ .linksContainer {
  right: 0;
}
