@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.headerContent {
  height: 72px;
  background-color: $primary-color;
  display: flex;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include tabletAndBeyondView() {
    height: 90px;
  }

  @include desktopAndBeyondView() {
    padding: 0 15%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.logoContainer {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer img {
  position: relative;
  z-index: 1000;

  @include desktopAndBeyondView() {
    transform: none;
  }
}

.navBar {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  transition: right 0.5s ease-out;
  z-index: 15;

  @include desktopAndBeyondView() {
    height: 90px;
    gap: 0 20px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: auto;
    right: unset;
    top: unset;
    background-color: transparent;
  }
}

.navBar a {
  display: flex;
  align-items: center;
  padding: 20px 36px;
  text-decoration: none;
  color: $font-color-one;
  font-family: var(--font-roboto);
  font-size: 20px;
  letter-spacing: 0.1em;
  transition: color 0.3s ease;

  @include desktopAndBeyondView() {
    width: auto;
    text-wrap: nowrap;
    padding: 0 0;
    // color: $font-color-three;
  }
}

.navButton {
  margin-left: 36px;
  @include desktopAndBeyondView() {
    margin-left: 0;
  }
}

.navBar a:hover {
  color: $font-color-two;
}

#headerSidebarActive {
  display: none;
}

.openSidebarButton,
.closeSidebarButton {
  padding: 10px;
  display: block;

  @include desktopAndBeyondView() {
    display: none;
  }
}

.closeSidebarButton {
  margin-left: auto;
}

#headerSidebarActive:checked ~ .linksContainer {
  right: 0;
}

.active {
  color: $secondary-color;
}
