@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.processContent {
  position: relative;
}

.processCardGridContainerGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  z-index: 10;

  @include desktopAndBeyondView() {
    flex-direction: row;
    justify-content: center;
    gap: 1vh;
  }
}

.processCardGridContainer {
  width: 302px;
  display: grid;
  grid-template-areas:
    'processCardImage'
    'processCardTitle'
    'processCardParagraph';
  justify-items: start;
  justify-content: space-evenly;
  align-items: center;

  @include tabletAndBeyondView() {
    width: 575px;
    align-items: end;
  }

  @include desktopAndBeyondView() {
    width: 302px;
    grid-template-areas:
      'processCardImage'
      'processCardTitle'
      'processCardParagraph';
    justify-items: center;
    align-items: center;
    text-align: center;
  }
}

.processCardGridContainerTabletLayoutOne {
  @include tabletAndBeyondView() {
    grid-template-areas:
      'processCardTitle processCardImage'
      'processCardParagraph processCardImage';
  }

  @include desktopAndBeyondView() {
    grid-template-areas:
      'processCardImage'
      'processCardTitle'
      'processCardParagraph';
  }
}

.processCardGridContainerTabletLayoutTwo {
  @include tabletAndBeyondView() {
    grid-template-areas:
      'processCardImage processCardTitle'
      'processCardImage processCardParagraph';
  }

  @include desktopAndBeyondView() {
    grid-template-areas:
      'processCardImage'
      'processCardTitle'
      'processCardParagraph';
  }
}

.processCardImage {
  grid-area: processCardImage;
}

.processCardImage img {
  width: 264px;
  height: 225px;

  @include tabletAndBeyondView() {
    width: 258px;
    height: 220px;
  }

  @include desktopAndBeyondView() {
    width: 272px;
    height: 219px;
  }
}

.processCardTitle {
  grid-area: processCardTitle;
  margin-bottom: 1vh;
}

.processCardTitle h1 {
  font-family: var(--font-katibeh);
  font-weight: 400;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: 0.05em;
  color: $font-color-four;
}

.processCardParagraph {
  grid-area: processCardParagraph;
  width: 254px;
  height: 160px;
}

.processCardParagraph p {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0.05em;
  color: $font-color-four;
}

.circle_1 {
  position: absolute;
  z-index: 1;
  left: 30%;
  top: 50%;
  width: 1px;
  height: 1px;
  background: radial-gradient(
    circle,
    $secondary-color 0%,
    $primary-color 10%
  );
  border-radius: 50%;
  box-shadow: 0px 0px 150px 150px $secondary-color;
  animation: flickerAnimation 15s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

.circle_2 {
  position: absolute;
  z-index: 1;
  left: 70%;
  top: 70%;
  width: 1px;
  height: 1px;
  background: radial-gradient(
    circle,
    $secondary-color 0%,
    $primary-color 10%
  );
  border-radius: 50%;
  box-shadow: 0px 0px 200px 200px $secondary-color;
  animation: flickerAnimation 15s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
