@import '@/styles/_mixins.scss';
@import '@/styles/_colors.scss';

.explainerVideosContent {
  @include tabletAndBeyondView() {
    width: 810px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  @include desktopAndBeyondView() {
    width: 872px;
  }
}
.video {
  border-radius: 24px;
}
.explainerVideosPlayerModalButton img {
  width: 100vw;
  height: auto;
  z-index: 10;

  @include tabletAndBeyondView() {
    width: 810px;
  }

  @include desktopAndBeyondView() {
    width: 872px;
  }
}

.explainerVideosGridContainer {
  display: grid;
  grid-template-areas:
    'explainerVideosHeading'
    'explainerVideosParagraph'
    'explainerVideosContactButton';
  justify-items: center;

  @include tabletAndBeyondView() {
    justify-items: start;
  }
}

.explainerVideosHeading {
  grid-area: explainerVideosHeading;
  margin: 0 10% 3% 10%;

  @include tabletAndBeyondView() {
    margin: 0 0 2.5% 0;
  }
}

.explainerVideosHeading h2 {
  font-family: var(--font-katibeh);
  font-weight: 400;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: 0.05em;
  color: $font-color-five;
}

.explainerVideosParagraph {
  grid-area: explainerVideosParagraph;
  margin: 0 5% 4% 5%;

  @include tabletAndBeyondView() {
    margin: 0 0 4% 0;
  }
}

.explainerVideosParagraph p {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0.05em;
  color: $font-color-four;
  text-align: center;

  @include tabletAndBeyondView() {
    text-align: left;
  }
}

.explainerVideosParagraph p br {
  display: none;

  @include tabletAndBeyondView() {
    display: unset;
  }
}

.explainerVideosContactButton {
  grid-area: explainerVideosContactButton;
}

.circle_1 {
  position: absolute;
  z-index: -1;
  left: 90%;
  top: 70%;
  width: 1px;
  height: 1px;
  background: radial-gradient(
    circle,
    $secondary-color 0%,
    $primary-color 10%
  );
  border-radius: 50%;
  box-shadow: 0px 0px 150px 150px $secondary-color;
  animation: flickerAnimation 15s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

.circle_2 {
  position: absolute;
  z-index: -1;
  left: 10%;
  top: 40%;
  width: 1px;
  height: 1px;
  background: radial-gradient(
    circle,
    $secondary-color 0%,
    $primary-color 10%
  );
  border-radius: 50%;
  box-shadow: 0px 0px 150px 150px $secondary-color;
  animation: flickerAnimation 15s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
